nav {
    background-color:black;
    height: 40px;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
  }
  nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
  }  

 li {
    display: inline;
  }
  a {
    color:white;
    display: inline;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  }
  nav ul li a:hover {
    color: white;
    background-color: aqua;
  }
  @keyframes move {
    0% { transform: translatex(50%); }
    50% { transform: translatex(80px); }
    100% { transform: translateX(0); }
  }
  
 
  .h11 {
    animation: move 10s linear infinite;
    color:green;
  }
  body {
    background-color: rgb(153, 184, 201);
    background-repeat:no-repeat;
    background-position: center;
    
    background-size: 500px 650px;
  }
   .bt{
    background-color:black;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 25px;
   }
    .btn{
    text-align: left;
    background-color:gray;
    left:0px;
   } 
  .bt a:hover{
    color:black;
    background-color: white;
  }
