/* Common Styles */
/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    background-color:black;
    height: 40px;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;

}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Headers */
h1, h2, h3 {
    margin: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

/* Paragraphs */
p {
    margin: 0 0 10px;
}

/* Buttons */
button, .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.btn:hover {
    background-color: white;
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: 10%;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Script Styles */
script {
    position: fixed;
    left: 0;
    bottom: 0;
}



