{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p>
        Welcome to my portfolio website! we are passionate web developers with experience in HTML, CSS, and JavaScript. 
        Here, you can explore this web site and find your suitable future University. 
        Take a look around and feel free to reach out if you have any questions or opportunities for collaboration.
    </p>
    </p>
    <a href="/login" class="btn">Login</a>
    <a href="/signup" class="btn">Sign Up</a>
</div>
{% endblock %}
