{% extends 'base.html' %}

{% block content %}
    <h1>University Search Results</h1>
    
    <ul>
        {% for result in search_results %}
        <li>
            <p><strong>University Name:</strong> {{ result.name }}<br>
            <strong>Location:</strong> {{ result.location }}<br>
            <strong>Web Site:</strong> <a href="{{ result.website }}">{{ result.website }}</a><br>
            <strong>Status:</strong> {{ result.status }}
            </p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
