{% extends 'base.html' %}

{% block content %}
    <h1>University Search Results</h1>
    
    <table>
        <thead>
            <tr>
                <th>University Name</th>
                <th>Location</th>
                <th>Web Site</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for result in search_results %}
            <tr>
                <td>{{ result.university_name }}</td>
                <td>{{ result.location }}</td>
                <td>{{ result.website }}</td>
                <td>{{ result.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
